.container {
	display: flex;
}

.item {
	font-size: 40px;
	border: 2px solid black;
	padding: 5px;
}

.basis {
	flex-basis: 400px;
}

.grow {
	/* flex: 1; */
	flex-grow: 1;
}

.shrink {
	flex-shrink: 1;
}

.one {
	flex-shrink: 5;
}

.dos {
	flex-basis: 50%;
	flex-shrink: 1;
}

.three {
	flex-shrink: 5;
}
