.container {
	border: 2px solid black;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: flex-end;
}

.container-2 {
	border: 2px solid black;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: flex-start;
}

.container-3 {
	border: 2px solid black;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: center;
}

.container-4 {
	border: 2px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.container-5 {
	border: 2px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.container-6 {
	border: 2px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.container-7 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

.container-8 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-end;
}

.container-9 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-end;
}

.container-10 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
}

.container-11 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.container-12 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
}

.container-13 {
	display: flex;
	border: 2px solid black;
	height: 300px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-between;
}

.box {
	width: 300px;
	height: 50px;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 50px;
}

.box1 {
	background-color: yellow;
}

.box2 {
	background-color: orange;
}

.box3 {
	background-color: orangered;
}

.box4 {
	background-color: red;
}

.box5 {
	background-color: lime;
}

.box6 {
	background-color: limegreen;
}

.box7 {
	background-color: aqua;
}

.box8 {
	background-color: blue;
}

.box9 {
	background-color: purple;
}
