.container {
	border: 2px solid black;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: flex-end;
}

.container-2 {
	border: 2px solid black;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: flex-start;
}

.container-3 {
	border: 2px solid black;
	height: 200px;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	align-items: center;
}

.container-4 {
	border: 2px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

.container-5 {
	border: 2px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.container-6 {
	border: 2px solid black;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
}

.box {
	width: 300px;
	height: 50px;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 50px;
}

.box1 {
	background-color: yellow;
}

.box2 {
	background-color: orange;
}

.box3 {
	background-color: orangered;
}

.box4 {
	background-color: red;
}
