.box {
	font-size: 50px;
	color: white;
	padding: 10px;
	text-align: center;
}

.box-1 {
	background-color: red;
}

.box-2 {
	background-color: orangered;
}

.box-3 {
	background-color: orange;
}

.box-4 {
	background-color: yellow;
}

.box-5 {
	background-color: yellowgreen;
}

.box-6 {
	background-color: lime;
}

.box-7 {
	background-color: turquoise;
}

.box-8 {
	background-color: skyblue;
}

.box-9 {
	background-color: blue;
}

.wrap {
	width: 400px;
}
/* Layout styles */

.container {
	display: flex;
	border: 4px solid black;
}

.container-2 {
	display: flex;
	border: 4px solid black;
	flex-direction: row-reverse;
}

.container-3 {
	display: flex;
	border: 4px solid black;
	flex-direction: column;
}

.container-4 {
	display: flex;
	border: 4px solid black;
	flex-direction: row;
	flex-wrap: wrap;
}

.container-5 {
	height: 300px;
	display: flex;
	border: 4px solid black;
	flex-direction: column;
	flex-wrap: wrap;
}

.container-6 {
	height: 300px;
	display: flex;
	border: 4px solid black;
	justify-content: flex-end;
}

.container-7 {
	height: 300px;
	display: flex;
	border: 4px solid black;
	justify-content: flex-start;
}

.container-8 {
	height: 300px;
	display: flex;
	border: 4px solid black;
	justify-content: center;
}

.container-9 {
	height: 300px;
	display: flex;
	border: 4px solid black;
	justify-content: space-between;
}

.container-10 {
	height: 300px;
	display: flex;
	border: 4px solid black;
	justify-content: space-around;
}
